@font-face {
	font-family: Montserrat;
	src:url(../fonts/Montserrat-Regular.otf);
}
body{
	padding: 0;
	margin: 0;
	font-family: Montserrat;

}

.topnav{
	min-height: 50px;
	width: 100%;
	background: #ff7361;
}
.topnavLeft, .topnavRight {
	height: 50px;
}
.topnavLeft ul {
	margin: 0;
	padding:0; 
}
.topnavLeft ul li{
	list-style: none;
	float: left;
	margin-top: 12px;
	margin-right: 15px;
}
.topnavLeft ul li a{
	font-size: 15px;
	color: #fff;
}
.topnavLeft ul li a i{
	margin-right: 5px;
}
.topnavRight ul {
	margin: 0;
	padding:0; 
	margin-left: 385px;
}
.topnavRight ul li{
	list-style: none;
	float: left;
	margin-top: 12px;
	margin-left: 15px;
}
.topnavRight ul li a{
	font-size: 20px;
	color: #fff;
}
.topnavRight ul li a i{
	margin-right: 5px;
}

.logo img {
	height: 45px;
	width: 160px;
}

.navbar-expand-lg .navbar-nav{
	margin: 0 auto;
	width: 50%;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #ff7361;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff7361;
}
.navbar-light{
 background: #2f3239;
}
.navbar-toggler {
	background: #fff;
}



.libraryArea {
  min-height: 500px;
  width: 100%;
  margin-bottom: 50px;
}

.libraryAreaContent {
  min-height: 500px;
}
.libraryAreaContent h1 {
  text-align: center;
  font-size: 30px;
  padding: 30px;
  color: #3a3839;
}

.classTitle {
  min-height: 300px;
  border: 1px dashed #3a3839;
  background: #f7f7f7;
}

.classTitle h3 {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: #3a3839;
  border-bottom: 2px dashed #3a3839;
}

.classTitle ul {
  margin: 20px;
  padding: 0;
}
.classTitle ul li{
  list-style: none;
}



.btn-link {
  font-weight: 400;
  color: #3a3839;
  background-color: transparent;    
}










.footer{
	height: 50px;
	width: 100%;
	background: #2f3239;
}
.footerTxt h3{
	text-align: center;
	color: #fff;
	font-size: 15px;
	padding-top: 15px;
	box-sizing: border-box;
}









@media(max-width: 480px) {


	.topnavLeft ul {
		margin-left: 55px;
	}
	.topnavRight ul {
		margin-left: 55px;
	}
	.logo img {
		height: 60px;
		width: 200px;
	}
	.navbar-expand-lg .navbar-nav{
		width: 100%;
	}
	.bannerTxt h1 {
		text-align: center;
		font-size: 25px;
		color: #28e2ff;
		margin-top: 70px;
	}
	.bannerTxt h1 span {
		font-weight: bold;
		line-height: 10px;
	}
	.bannerTxt p {
		text-align: center;
		font-size: 15px;
		color: #28e2ff;
		width: 100%;
		margin: 0 auto;
		margin-top: 30px;
	}



}